{% extends 'base-admin.html.twig' %}

{% block title %}City index{% endblock %}

{% block stylesheets %}
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

.table {
  width: 90%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.navigation{
    
}
</style>

{% endblock %}

{% block body %}
    <div class="page-header mt-0 shadow p-3">
            <ol class="breadcrumb mb-sm-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">City</li>
            </ol>							
    </div>

    <div class="container">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Recherher</button>
                    </div>
                </div>

                {{ form_end(form) }}

        </div>

    <table id="cities" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>
                   <div class="btn-group mb-0">
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="{{ path('city_edit', {'id': city.id}) }}"><i class="fas fa-edit mr-2"></i>Edit</a>
                          <button data-id="{{ city.id }}" class="dropdown-item delete-city"><i class="fas fa-times mr-2"></i>Delete</button>
                       </div>
					  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(cities, null, {}, {
                'position': 'centered',
                'size': 'medium',
                'rounded': true,
                }) }}
    </div>

{% endblock %}

{% block javascripts %}
<script>

const categories = document.getElementById('cities');

if (categories) {
  categories.addEventListener('click', e => {
    if (e.target.className === 'dropdown-item delete-city') {
      if (confirm('Are you sure?')) {
        const id = e.target.getAttribute('data-id');

        fetch(`/admin/city/delete/${id}`, {
          method: 'DELETE'
        }).then(res => window.location.reload());
      }
    }
  });
}


</script>


{% endblock %}

